* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    padding: 32px 32px;
    min-height: 80px;
    background: #1f1f1f;
}

nav>a {
    vertical-align: bottom;
}

nav img {
    max-height: 48px;
    background-color: white;
}

nav ul,
nav ul li,
.spacer {
    display: inline-block;
}

.spacer {
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 132px - 276px);
}

nav ul {
    margin-bottom: 15px;
}

nav ul li {
    margin-right: 20px;
}

#last-item {
    margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}
/*  Header */
header {
    padding-top: 20px;
}
main{
    text-align: center;
    min-height: calc(100vh - 160px);
}

section {
    display: inline-block;
    width: 70%;
    min-height: 600px;
    padding: 20px 0;
    vertical-align: top;
}

aside {
    display: inline-block;
    width: 30%;
    height: 600px;
    padding: 20px;
    text-align: center;
    background: #424242;
}

aside h2 {
    margin-bottom: 20px;
    color: grey
}

aside ul {
    color: aquamarine;
}

aside ul li {
    line-height: 2;
}
article {
    display: inline-block;
}
.article-picture1 {
    float: left;
}
.article-picture2 {
    float: right;
}

.article-picture1 picture img {
    margin: 16px;
    border: solid 3px #333;
    max-width: 380px;
}
.article-picture2 picture img {
    margin: 16px;
    border: solid 3px #333;
    max-width: 380px;
}

.textbox {
    text-align: left;
    margin: 16px;
    border: solid 1px red;
    padding: 16px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}
.textbox2 {
    clear:both;
    margin: 16px;
    border: solid 1px red;
    padding: 16px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

.post-title {
    margin-bottom: 8px;
    font-size: 24px;
}

.post-info {
    margin-bottom: 16px;
    font-size: 14px;
}

.post-paragraph {
    margin-bottom: 8px;
    font-size: 16px;
}

.last-paragraph {
    margin-bottom: 24px;
}

footer {
    padding: 32px 32px;
    min-height: 80px;
    text-align: center;
    background: #1f1f1f;
    color: white
}
footer ul {
    display: inline-block;
    margin-bottom: 20px;
    color:aquamarine
}
footer ul li {
    display: inline-block;
    margin-right:20px;
}
Footer ul li:last-child {
    margin: 0;
}
hr {
    margin-bottom: 20px;
}
aside ul li a:link,
aside ul li a:visited,
Footer ul li a:link,
Footer ul li a:visited {
    color: aquamarine;
}
footer img {
    margin: 16px;
    max-height: 48px;
    background-color: white;
}

#scrollTop {
    position: fixed;
    display: block;
    left: 95%;
    bottom:40%;
    width: 40px;
    height: 40px;
    background-color: burlywood;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}
#scrollTop a {
    position: sticky;
}